@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
	font-family: 'Trirong-local';
	src:url("../fonts/Trirong-Medium.ttf") format('truetype'),
		url( "../fonts/Trirong-BlackItalic.ttf") format('truetype'),
		url( "../fonts/Trirong-Bold.ttf") format('truetype'),
		url( "../fonts/Trirong-Italic.ttf") format('truetype'),
		url( "../fonts/Trirong-Regular.ttf") format('truetype');
}

	
:root{
	--color-fondo:#f7f6f2;
	--color-letra: #000000;
	--color-detalle: #0033cc;
	--color-footer:#ccccff;
}

body{
	font-family: "Trirong", sans-serif;
	font-size: 16px;
	color: var(--color-letra);
	font-weight: 300;
	background-color:  var(--color-fondo);
}

header{
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}

.logo-img{
	width: 250px;
	height: auto;
	padding-left: 20px;
}


#hero .row{
	padding: 80px 0;
}

#hero .fotitos{
	width: 250px;
	height: auto;
	border: 2px solid black;
	margin: 30px;
		
	}


#hero h2{
	text-align: center;
	font-weight: bold; 
	font-size: 20px;
	
}


#hero h3{
	text-align: center;
	font-weight: 300; 
	font-size: 16px;
	
}

.line{
	border: none;
}

.titulo{
	padding-top: 200px;
}


footer{
	background-color: var(--color-footer);
	padding: 60px 0;
	font-size: 16px;
	margin: auto;
		
}

footer li a:hover{
	background-color: var(--color-footer);
	color: #fff;
}

#about .row{
	padding: 80px 0;
	border-bottom: 1px solid #ddd;
}

.firma{
	width: 150px;
	height: auto;
}

#fotografia .img-fluid{
	width: 300px;
	height: auto;
	border: 2px solid black;
	margin: 30px;
		
}

#fotografia p { 
	margin: 150px;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
}

#identidad-palato{
	padding: 100px;
	
	
}

.titulo-2{
	text-align: center;
}

#identidad-palato .carousel-inner{
    position: relative;
    overflow: hidden;
}



#identidad-palato .carousel-inner .carousel-item img {
    max-width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: contain; 
    margin: 0 auto; 
}

#identidad-palato .carousel-control-prev,
#identidad-palato .carousel-control-next {
    width: 5%; 
    background-color: var(--color-footer); 
 
}


#identidad-palato .carousel-control-prev:hover,
#identidad-palato .carousel-control-next:hover {
    background-color: var(--color-footer;
}



#title{
	font-weight: 700;
	text-align: center;
	padding: 50px;
	
}

.marca{
	width: auto;
	height: auto;
}

#hero-title{
	background-image: url("../img/3J6A5740_2.jpg");
	background-size: cover;
	padding: 15% 0;
	text-align: center;
}



#form-contact{
	padding: 50px;
}

#form-contact h4{
	font-weight: 200;
}

.btn-custom {
		background-color: var(--color-footer); 
        border-color:var(--color-footer); 
        color: var(--color-letra); 
	
		
	}
.btn:hover{
        border-color:var(--color-footer); 
        color: var(--color-footer); 
}

#galeria{
	padding: 50px;
}
#galeria h2{
	text-align: center;
	font-size: 24px;
}
